## Kaggle – DataTops®
Luismi ha decidido cambiar de aires y, por eso, ha comprado una tienda de portátiles. Sin embargo, su única especialidad es Data Science, por lo que ha decidido crear un modelo de ML para establecer los mejores precios.

¿Podrías ayudar a Luismi a mejorar ese modelo?

## Métrica: 
Error de raíz cuadrada media (RMSE) es la desviación estándar de los valores residuales (errores de predicción). Los valores residuales son una medida de la distancia de los puntos de datos de la línea de regresión; RMSE es una medida de cuál es el nivel de dispersión de estos valores residuales. En otras palabras, le indica el nivel de concentración de los datos en la línea de mejor ajuste.


$$ RMSE = \sqrt{\frac{1}{n}\Sigma_{i=1}^{n}{\Big(\frac{d_i -f_i}{\sigma_i}\Big)^2}}$$

## Librerías

In [1]:
import numpy as np
import pandas as pd
import toolbox_ML as tb
import bootcampviztools as bt

from PIL import Image
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor
from lightgbm import LGBMRegressor
from xgboost import XGBRFRegressor
from catboost import CatBoostRegressor
import urllib.request

## Datos

In [2]:
# Para que funcione necesitas bajarte los archivos de datos de Kaggle 
df = pd.read_csv("./data/train.csv", index_col = 0)
df.index.name = None

In [3]:
df_bck_up = df.copy()

## Exploración de los datos

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 912 entries, 755 to 229
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           912 non-null    object
 1   Product           912 non-null    object
 2   TypeName          912 non-null    object
 3   Inches            912 non-null    float64
 4   ScreenResolution  912 non-null    object
 5   Cpu               912 non-null    object
 6   Ram               912 non-null    object
 7   Memory            912 non-null    object
 8   Gpu               912 non-null    object
 9   OpSys             912 non-null    object
 10  Weight            912 non-null    object
 11  Price_in_euros    912 non-null    float64
dtypes: float64(2), object(10)
memory usage: 92.6+ KB

In [5]:
df.isna().sum()

Company             0
Product             0
TypeName            0
Inches              0
ScreenResolution    0
Cpu                 0
Ram                 0
Memory              0
Gpu                 0
OpSys               0
Weight              0
Price_in_euros      0
dtype: int64

In [6]:
df.head()

,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_in_euros
755,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i3 6006U 2GHz,8GB,256GB SSD,Intel HD Graphics 520,Windows 10,1.86kg,539.00
618,Dell,Inspiron 7559,Gaming,15.6,Full HD 1920x1080,Intel Core i7 6700HQ 2.6GHz,16GB,1TB HDD,Nvidia GeForce GTX 960<U+039C>,Windows 10,2.59kg,879.01
909,HP,ProBook 450,Notebook,15.6,Full HD 1920x1080,Intel Core i7 7500U 2.7GHz,8GB,1TB HDD,Nvidia GeForce 930MX,Windows 10,2.04kg,900.00
2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
286,Dell,Inspiron 3567,Notebook,15.6,Full HD 1920x1080,Intel Core i3 6006U 2.0GHz,4GB,1TB HDD,AMD Radeon R5 M430,Linux,2.25kg,428.00

In [7]:
df.tail()

,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_in_euros
28,Dell,Inspiron 5570,Notebook,15.6,Full HD 1920x1080,Intel Core i5 8250U 1.6GHz,8GB,256GB SSD,AMD Radeon 530,Windows 10,2.2kg,800.00
1160,HP,Spectre Pro,2 in 1 Convertible,13.3,Full HD / Touchscreen 1920x1080,Intel Core i5 6300U 2.4GHz,8GB,256GB SSD,Intel HD Graphics 520,Windows 10,1.48kg,1629.00
78,Lenovo,IdeaPad 320-15IKBN,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,2TB HDD,Intel HD Graphics 620,No OS,2.2kg,519.00
23,HP,255 G6,Notebook,15.6,1366x768,AMD E-Series E2-9000e 1.5GHz,4GB,500GB HDD,AMD Radeon R2,No OS,1.86kg,258.00
229,Dell,Alienware 17,Gaming,17.3,IPS Panel Full HD 1920x1080,Intel Core i7 7700HQ 2.8GHz,16GB,256GB SSD + 1TB HDD,Nvidia GeForce GTX 1060,Windows 10,4.42kg,2456.34

In [8]:
tb.describe_df(df)

                 DATA_TYPE MISSINGS (%) UNIQUE_VALUES CARDIN (%)
Company             object            0            19       2.08
Product             object            0           480      52.63
TypeName            object            0             6       0.66
Inches             float64            0            17       1.86
ScreenResolution    object            0            36       3.95
Cpu                 object            0           107      11.73
Ram                 object            0             9       0.99
Memory              object            0            37       4.06
Gpu                 object            0            93       10.2
OpSys               object            0             9       0.99
Weight              object            0           165      18.09
Price_in_euros     float64            0           603      66.12

In [9]:
tb.tipifica_variables(df)

            variable               tipo
0            Company  Numérica Discreta
1            Product  Numérica Continua
2           TypeName         Categórica
3             Inches  Numérica Discreta
4   ScreenResolution  Numérica Discreta
5                Cpu  Numérica Discreta
6                Ram         Categórica
7             Memory  Numérica Discreta
8                Gpu  Numérica Discreta
9              OpSys         Categórica
10            Weight  Numérica Continua
11    Price_in_euros  Numérica Continua

## Procesado de datos

In [10]:
target = "Price_in_euros"

In [11]:
df.drop_duplicates(keep = "first", inplace = True)

In [12]:
df["inches"] = df.Inches.astype(float)
df['ram_gb'] = df['Ram'].str.replace('GB', '').astype(int)
df["weight_kg"] = df['Weight'].str.replace('kg', '').astype(float)
df.drop(columns = ["Inches", "Ram", "Weight"], inplace = True)

In [13]:
feat_sel = tb.get_features_cat_regression(df, "Price_in_euros")
print(feat_sel)

['Company', 'Product', 'TypeName', 'ScreenResolution', 'Cpu', 'Memory', 'Gpu', 'OpSys']

In [14]:
tb.get_features_num_regression(df, "Price_in_euros", 0.6)

[]

In [15]:
df = pd.get_dummies(df, columns = feat_sel, dtype = int)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 891 entries, 755 to 229
Columns: 791 entries, Price_in_euros to OpSys_macOS
dtypes: float64(3), int32(788)
memory usage: 2.7 MB

Nuestro target es la columna `Price_in_euros`

-----------------------------------------------------------------------------------------------------------------

## Modelado

### 1. Definir X e y

In [17]:
X = df.drop(columns = [target])
y = df[target]

### 2. Dividir X_train, X_test, y_train, y_test

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 42)

In [19]:
X_train.head()

,inches,ram_gb,weight_kg,Company_Acer,Company_Apple,Company_Asus,Company_Chuwi,Company_Dell,Company_Fujitsu,Company_Google,...,Gpu_Nvidia Quadro M620M,OpSys_Android,OpSys_Chrome OS,OpSys_Linux,OpSys_Mac OS X,OpSys_No OS,OpSys_Windows 10,OpSys_Windows 10 S,OpSys_Windows 7,OpSys_macOS
112,14.0,8,1.58,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
13,15.4,16,1.83,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1190,15.6,4,2.20,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
55,15.6,4,2.40,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1043,17.3,8,2.63,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [20]:
y_train.head()

112     1480.00
13      2439.97
1190     369.00
55       384.00
1043    1080.00
Name: Price_in_euros, dtype: float64

In [22]:
X_train.columns = X_train.columns.str.replace(r'[\[\]<>]', '', regex=True)
X_train.columns = X_train.columns.astype(str)

X_test.columns = X_test.columns.str.replace(r'[\[\]<>]', '', regex=True)
X_test.columns = X_test.columns.astype(str)

### 3. Baseline de modelos

In [24]:
model_names = ["Random Forest", "XGBoost", "Catboost"]
rf_reg = RandomForestRegressor(random_state = 42)
xg_reg = XGBRFRegressor(random_state = 42)
# lgb_reg = LGBMRegressor(random_state = 42, verbose = -100, n_jobs = -1)
cat_reg = CatBoostRegressor(n_estimators = 100, depth = 5, learning_rate = 0.5, verbose = 100)
models = [rf_reg, xg_reg, cat_reg]

resultados = []

for model_name, modelo in zip(model_names, models):
    metrica = np.mean(cross_val_score(modelo, X_train, y_train, cv = 5, scoring  = "neg_root_mean_squared_error"))
    data = {
        "model": model_name,
        "RSME": metrica
    }
    print(data)
    resultados.append(data.copy())
df_resultados = pd.DataFrame(resultados)
df_resultados.sort_values("RSME", ascending = False)

{'model': 'Random Forest', 'RSME': -314.9532537063681}
{'model': 'XGBoost', 'RSME': -350.8637260952117}
0:	learn: 550.1970969	total: 144ms	remaining: 14.3s
99:	learn: 130.4228826	total: 419ms	remaining: 0us
0:	learn: 521.1221334	total: 2.94ms	remaining: 291ms
99:	learn: 111.8846711	total: 264ms	remaining: 0us
0:	learn: 536.1835175	total: 2.84ms	remaining: 281ms
99:	learn: 113.4532541	total: 263ms	remaining: 0us
0:	learn: 527.1783150	total: 3.42ms	remaining: 338ms
99:	learn: 128.1647995	total: 265ms	remaining: 0us
0:	learn: 481.1724405	total: 3.08ms	remaining: 305ms
99:	learn: 117.2768265	total: 284ms	remaining: 0us
{'model': 'Catboost', 'RSME': -295.37658276751137}

           model        RSME
2       Catboost -295.376583
0  Random Forest -314.953254
1        XGBoost -350.863726

In [26]:
cat_reg.fit(X_train, y_train)

0:	learn: 520.7911442	total: 4.78ms	remaining: 474ms
99:	learn: 124.6096351	total: 299ms	remaining: 0us

In [27]:
y_pred = cat_reg.predict(X_test)

In [ ]:
# y_pred = rfmodel.predict(X_test)

### 4. Sacar métricas, valorar los modelos 

Recuerda que en la competición se va a evaluar con la métrica de ``RMSE``.

In [28]:
print(np.sqrt(mean_squared_error(y_test, y_pred)))

293.4289969508399

-----------------------------------------------------------------

## Una vez listo el modelo, toca predecir ``test.csv``

**RECUERDA: APLICAR LAS TRANSFORMACIONES QUE HAYAS REALIZADO EN `train.csv` a `test.csv`.**


Véase:
- Estandarización/Normalización
- Eliminación de Outliers
- Eliminación de columnas
- Creación de columnas nuevas
- Gestión de valores nulos
- Y un largo etcétera de técnicas que como Data Scientist hayas considerado las mejores para tu dataset.

### 1. Carga los datos de `test.csv` para predecir.

In [29]:
X_pred = pd.read_csv("data/test.csv", index_col = 0)
X_pred.index.name = None
X_pred.head()

,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight
209,Lenovo,Legion Y520-15IKBN,Gaming,15.6,Full HD 1920x1080,Intel Core i7 7700HQ 2.8GHz,16GB,512GB SSD,Nvidia GeForce GTX 1060,No OS,2.4kg
1281,Acer,Aspire ES1-531,Notebook,15.6,1366x768,Intel Celeron Dual Core N3060 1.6GHz,4GB,500GB HDD,Intel HD Graphics 400,Linux,2.4kg
1168,Lenovo,V110-15ISK (i3-6006U/4GB/1TB/No,Notebook,15.6,1366x768,Intel Core i3 6006U 2.0GHz,4GB,1TB HDD,Intel HD Graphics 520,No OS,1.9kg
1231,Dell,Inspiron 7579,2 in 1 Convertible,15.6,IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,Windows 10,2.191kg
1020,HP,ProBook 640,Notebook,14.0,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,4GB,256GB SSD,Intel HD Graphics 620,Windows 10,1.95kg

In [30]:
X_pred.tail()

,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight
820,MSI,GE72MVR 7RG,Gaming,17.3,Full HD 1920x1080,Intel Core i7 7700HQ 2.8GHz,16GB,512GB SSD + 1TB HDD,Nvidia GeForce GTX 1070,Windows 10,2.9kg
948,Toshiba,Tecra Z40-C-12X,Notebook,14.0,IPS Panel Full HD 1920x1080,Intel Core i5 6200U 2.3GHz,4GB,128GB SSD,Intel HD Graphics 520,Windows 10,1.47kg
483,Dell,Precision M5520,Workstation,15.6,Full HD 1920x1080,Intel Core i7 7700HQ 2.8GHz,8GB,256GB SSD,Nvidia Quadro M1200,Windows 10,1.78kg
1017,HP,Probook 440,Notebook,14.0,1366x768,Intel Core i5 7200U 2.5GHz,4GB,500GB HDD,Intel HD Graphics 620,Windows 10,1.64kg
421,Asus,ZenBook Flip,2 in 1 Convertible,13.3,IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,Windows 10,1.27kg

In [31]:
X_pred.info()

<class 'pandas.core.frame.DataFrame'>
Index: 391 entries, 209 to 421
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           391 non-null    object
 1   Product           391 non-null    object
 2   TypeName          391 non-null    object
 3   Inches            391 non-null    float64
 4   ScreenResolution  391 non-null    object
 5   Cpu               391 non-null    object
 6   Ram               391 non-null    object
 7   Memory            391 non-null    object
 8   Gpu               391 non-null    object
 9   OpSys             391 non-null    object
 10  Weight            391 non-null    object
dtypes: float64(1), object(10)
memory usage: 36.7+ KB

 ## 2. Replicar el procesado para ``test.csv``

In [32]:
X_pred["inches"] = X_pred.Inches.astype(float)
X_pred['ram_gb'] = X_pred['Ram'].str.replace('GB', '').astype(int)
X_pred["weight_kg"] = X_pred['Weight'].str.replace('kg', '').astype(float)
X_pred.drop(columns = ["Inches", "Ram", "Weight"], inplace = True)

In [33]:
X_pred.info()

<class 'pandas.core.frame.DataFrame'>
Index: 391 entries, 209 to 421
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           391 non-null    object
 1   Product           391 non-null    object
 2   TypeName          391 non-null    object
 3   ScreenResolution  391 non-null    object
 4   Cpu               391 non-null    object
 5   Memory            391 non-null    object
 6   Gpu               391 non-null    object
 7   OpSys             391 non-null    object
 8   inches            391 non-null    float64
 9   ram_gb            391 non-null    int32
 10  weight_kg         391 non-null    float64
dtypes: float64(2), int32(1), object(8)
memory usage: 35.1+ KB

In [34]:
# # Ordenamos las features categóricas de menor precio de median a mayor precio para poder convertirlas en numéricas:
# categories_company = df.groupby(df["Company"])["Price_in_euros"].median().sort_values().index.to_list()
# # categories_typename = df.groupby(df["TypeName"])["Price_in_euros"].median().sort_values().index.to_list()
# categories_resolution = df.groupby(df["ScreenResolution"])["Price_in_euros"].median().sort_values().index.to_list()
# categories_cpu = df.groupby(df["Cpu"])["Price_in_euros"].median().sort_values().index.to_list()
# categories_memory = df.groupby(df["Memory"])["Price_in_euros"].median().sort_values().index.to_list()
# categories_gpu = df.groupby(df["Gpu"])["Price_in_euros"].median().sort_values().index.to_list()

# total_cat = [categories_company, categories_resolution, categories_cpu, categories_memory, categories_gpu]
# cols = ["Company", "ScreenResolution", "Cpu", "Memory", "Gpu"]

# enc = OrdinalEncoder(categories = total_cat, dtype= int)
# X_pred[cols] = enc.transform(X_pred[cols])

# Con la ram, el sistema operativo y el typename, vamos a hacer un get_dummies:
cols_dummies = X_train.columns
X_pred = pd.get_dummies(X_pred, columns = feat_sel, dtype = int).reindex(columns = cols_dummies, fill_value=0)

In [35]:
# X_pred.head()

In [36]:
predictions_submit = cat_reg.predict(X_pred)
predictions_submit

array([1816.47361774,  287.07373551,  333.35199155, 1065.95133434,
        960.03243   ,  454.84564174,  826.52365958,  979.84509702,
       1354.36459254,  292.23069359, 2083.87699414, 1229.81917898,
        623.55752165, 1902.43777218, 1050.92457368,  701.50760727,
       2480.20630321, 1490.28635003, 1866.79407015,  626.41500724,
       1775.80637191,  591.06612836,  797.15095983, 1236.22558104,
        459.5877451 ,  655.35439647,  700.43800849,  838.00320835,
       3314.21633636, 1017.9474444 , 2499.68221205,  410.00702994,
        786.17064157, 3424.11823211, 2269.90302671, 1738.45124825,
        582.58028579, 1570.92177447,  912.83785585, 1698.30666851,
        687.85292037,  921.47605786,  502.41981222, 1381.03279945,
       1035.0440999 , 1112.35498074, 1008.78660031,  551.53318117,
        670.77077309,  541.11572696, 1617.26535091,  670.54785086,
       1088.37229542,  523.77984371, 1713.57967082, 1654.60244534,
        661.0649286 ,  683.62571637,  945.79023937,  566.05092822,
       2497.00115452, 1502.41238965,  578.17767151, 2093.47780212,
       1559.92431037, 1486.24746049,  909.10004689, 1473.97295266,
       2132.85047819, 2036.87441924,  626.3602639 ,  650.41165004,
       1011.74893914, 1803.8844243 , 1186.62677307, 1233.69120698,
       1604.64054468, 1698.27711712, 2014.04874254, 1291.51675164,
        876.48970995, 1495.48137611, 2255.40759973, 1463.44371629,
       1299.28219481, 1683.56330439,  547.06639207,  937.73771392,
        808.10635219,  721.68247077,  483.14815973, 1873.4787174 ,
       1464.72532885, 2968.66325667, 3045.87584393, 1166.30025608,
        754.19872151,  572.37062781, 1025.06230315,  904.84249903,
       1840.8887826 ,  656.72906686, 1469.56320982,  912.45748904,
        366.1400739 , 1739.49674525, 1810.9714657 ,  569.6627706 ,
        353.57068103,  946.48291974, 1342.15391291,  804.92307771,
        684.44468983,  698.99515567, 1208.11210009,  660.48389712,
        516.80424583, 1427.2164648 , 1896.84343012, 1153.01212925,
        939.17036354,  623.24348587, 1003.61323431, 1362.91164865,
       1692.94608077,  436.71287364, 1615.97480613, 1143.41105771,
        501.38373921,  954.92070842, 2179.89681323, 1477.62481123,
       1231.41732753, 1944.34189329,  752.59020014, 2314.53970078,
       1271.76147663, 1064.58555108, 1499.83021221,  574.4581225 ,
       1399.35115682,  829.2922017 , 1275.46606103,  911.65958426,
       2115.56351244, 1153.01212925, 1858.08547542,  729.72138675,
       1499.30390227,  845.97472815,  715.63862061,  843.98935933,
        541.82235585, 1191.12496375,  845.60607457,  893.85936413,
       1232.44650146, 1033.9975412 ,  564.89193483,  401.23082656,
        551.25321343, 1838.94060758, 1184.7549795 ,  664.48542139,
       1184.21685976, 1067.6939432 , 1999.97571443,  334.09234281,
        912.8676604 , 1266.10195572, 1362.81617676,  471.4695744 ,
        398.38420897,  541.11572696, 2512.43960217,  597.82954406,
       1230.63030879,  533.94952926, 1395.55363249, 1340.00442453,
        703.12988666, 4824.32588237, 1136.87150702,  835.47907004,
       1263.75853015, 1907.96351076,  644.54894852,  653.92897379,
       1409.76959776,  941.50214314,  554.15924956, 1790.38881732,
        425.75054299,  712.44854306,  561.53785389,  471.135627  ,
       1611.10318389,  907.05275236,  858.01379571,  198.87956913,
       1003.61323431, 2265.73408665, 1104.0631736 ,  645.4286172 ,
        526.88793253,  416.45494576, 2009.83658191,  353.91616863,
       1595.57989101,  374.12100473, 1162.69059588,  580.71977177,
        615.377129  ,  999.70207246,  300.3500433 , 1383.01098708,
       1091.12015728,  545.31926549,  593.96301392,  576.01774845,
        584.86436845, 1151.94624292, 1106.54503014,  972.22951468,
        618.53369662,  933.36208712,  275.31445346, 1258.67151539,
        683.22492595, 1817.09036236,  625.44355778,  410.91914927,
        874.76389309, 1458.40311032,  536.10812616,  729.72138675,
       2970.83836008,  977.50743427,  968.50689302, 1845.90906197,
       1535.2549365 ,  476.13654221, 1160.900868  ,  950.11025413,
        819.1165198 , 1893.8131282 ,  897.50490352, 1028.75283499,
        895.74817051, 1945.79513481, 1331.09636494,  623.88865874,
       1670.46855683,  911.12795485, 1670.46855683, 3014.84256937,
        704.01100911,  433.0651932 , 1681.4222347 , 1014.45467257,
        437.93462273,  539.44461762, 1071.44612126,  477.8429957 ,
       2200.26063194, 2397.51551499, 1318.95219773,  442.73310586,
       2001.44842549, 1354.85840137,  429.62149052,  575.98821261,
       1138.26099993, 1694.21985697, 1469.65649476,  652.46693265,
        573.09853734,  968.34655708, 1005.64113623,  515.58647547,
        531.0668053 ,  893.25340269, 1344.11226446,  606.53724601,
        498.53712162, 1293.61094739, 1147.17620147, 3071.83914894,
       3595.13575711,  503.19368139, 1121.62116013, 1206.9857883 ,
       1343.08011986, 1251.23429239, 1081.59238767, 1357.38819136,
       1244.19868518,  724.77227201, 3402.62108688, 1099.10720845,
       1812.2792126 ,  412.71516623,  569.1146816 ,  472.94562469,
        637.44318468, 1742.52141684, 1925.59333539,  849.47542731,
       2228.32530064, 1332.21357986,  352.3674038 ,  748.44813169,
        399.33052323,  458.04067232, 1001.71507474,  792.54052954,
       2619.03786069, 1084.59660205, 1195.36549314,  661.56895479,
       1455.45609615, 1484.43484667, 1258.67151539, 1183.2620336 ,
       1227.04956019, 2027.67628483, 1974.80545932,  765.56730736,
        409.73836628, 2173.87275165,  430.09609942,  907.0229478 ,
       1891.68002997,  657.92955896,  388.59715286,  904.84249903,
        480.44335343,  503.19368139, 1548.88568568, 1231.62354358,
        621.27259562,  545.83736463, 2167.0091435 , 1326.37224092,
       1535.2549365 ,  932.52777061,  426.61740038, 1086.75076149,
        799.25627707,  680.29116783,  946.03028491,  987.39318471,
        675.89142566,  557.97027212,  710.12445904,  317.43389919,
       1735.22420749,  604.18015017, 1561.33669564, 1826.02751444,
        479.21940371,  592.90640063,  848.60869414,  959.18134256,
       1223.12680774, 1411.27840999, 1768.28310092, 3551.47697827,
        631.98008047, 2012.77224474, 1716.57233572, 1730.22960524,
        520.03557459, 1435.00565362, 1055.72002233, 1743.02841602,
        531.0668053 ,  937.28447425,  707.87267011,  634.47408765,
        396.90462287, 1002.1201469 , 1143.73283004,  360.40744597,
       1435.95310161,  908.54749808, 2254.53354519,  785.38357146,
       1823.94053067,  801.49011518, 1170.28938628])

### 3. **¿Qué es lo que subirás a Kaggle?**

**Para subir a Kaggle la predicción esta tendrá que tener una forma específica.**

En este caso, la **MISMA** forma que `sample_submission.csv`.

In [37]:
sample = pd.read_csv("data/sample_submission.csv")

In [38]:
sample.head()

   laptop_ID  Price_in_euros
0        209          1949.1
1       1281           805.0
2       1168          1101.0
3       1231          1293.8
4       1020          1832.6

In [39]:
sample.shape

(391, 2)

### 4. Mete tus predicciones en un dataframe llamado ``submission``.

In [40]:
#¿Cómo creamos la submission?
submission = pd.DataFrame({"laptop_ID": X_pred.index,
                        "Price_in_euros": predictions_submit})

In [41]:
submission.head()

   laptop_ID  Price_in_euros
0        209     1816.473618
1       1281      287.073736
2       1168      333.351992
3       1231     1065.951334
4       1020      960.032430

In [42]:
submission.shape

(391, 2)

### 5. Pásale el CHEQUEADOR para comprobar que efectivamente está listo para subir a Kaggle.

In [43]:
def chequeador(df_to_submit):
    """
    Esta función se asegura de que tu submission tenga la forma requerida por Kaggle.
    
    Si es así, se guardará el dataframe en un `csv` y estará listo para subir a Kaggle.
    
    Si no, LEE EL MENSAJE Y HAZLE CASO.
    
    Si aún no:
    - apaga tu ordenador, 
    - date una vuelta, 
    - enciendelo otra vez, 
    - abre este notebook y 
    - leelo todo de nuevo. 
    Todos nos merecemos una segunda oportunidad. También tú.
    """
    if df_to_submit.shape == sample.shape:
        if df_to_submit.columns.all() == sample.columns.all():
            if df_to_submit.laptop_ID.all() == sample.laptop_ID.all():
                print("You're ready to submit!")
                submission.to_csv("submission.csv", index = False) #muy importante el index = False
                urllib.request.urlretrieve("https://www.mihaileric.com/static/evaluation-meme-e0a350f278a36346e6d46b139b1d0da0-ed51e.jpg", "gfg.png")     
                img = Image.open("gfg.png")
                img.show()   
            else:
                print("Check the ids and try again")
        else:
            print("Check the names of the columns and try again")
    else:
        print("Check the number of rows and/or columns and try again")
        print("\nMensaje secreto del TA: No me puedo creer que después de todo este notebook hayas hecho algún cambio en las filas de `test.csv`. Lloro.")

In [44]:
chequeador(submission)

You're ready to submit!